.config/nvim/.netrwhist
.DS_Store
.claude/backups
.claude/plans
.claude/cache
.claude/file-history
.claude/ide
.claude/paste-cache
.claude/projects
.claude/shell-snapshots
.claude/telemetry
.claude/todos
.config/coc
.config/configstore
.config/irust
.config/iterm2
.config/jgit
.config/menus
.config/pnpsecure
.config/wireshark
